<h1><%= hello %></h1>
<p>
There is nothing either good or bad <br />
They're Cause and Effect <br />
</p>
<p>
  Ruby Version: <%= RUBY_VERSION %>
</p>
<p>
  <h2>Enviroment:</h2>
  <%= env.inspect %>
</p>

