<p>
  <b>&quot;<%= quote['quote'] %> &quot;</b>
  <br /> <i>&ndash; <%= quote["attribution"] %></i>
</p>

<p>
  <b><i>Submitted by <%= quote['submitter'] %></i></b>
</p>

<p>
  <%= user_agent %>
</p>
